
@{
    ViewData["Title"] = "About";
}


<div id="Wrapper">
    <div id=Header_wrapper class="">
        <div id=Subheader>
            <div class=container>
                <div class="column one">
                    <h1 class="title">About our company</h1>
                </div>
            </div>
        </div>
    </div><div id=Content>
        <div class="content_wrapper clearfix">
            <div class=sections_group>
                <div class=entry-content itemprop=mainContentOfPage>
                    <div class="section mcb-section mcb-section-22e77cbb9" style=padding-top:120px;padding-bottom:80px>
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-2fba0ef18 one-second  valign-middle clearfix" style="">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-9051e30d4 one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class=image_wrapper>
                                                <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-about-pic1.jpg" alt=itservice3-about-pic1 title=itservice3-about-pic1 width=780 height=1224>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="wrap mcb-wrap mcb-wrap-f1d187e26 one-second  valign-middle clearfix" style="padding:0 0 0 7%">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-cd3a2c433 one column_column">
                                        <div class="column_attr clearfix" style="">
                                            <h2>Praesent ut quam quis venenatis fringilla</h2>
                                            <hr class=no_line style="margin:0 auto 20px">
                                            <p>Mauris rhoncus t ligula volutpat a feugiat.</p>
                                            <hr class=no_line style="margin:0 auto 20px">
                                            <p>Maurimatt.</p><hr class=no_line style="margin:0 auto 20px">
                                            <ul class=list_check>
                                                <li>Suspendisse a pellentesque dui.</li>
                                                <li>Dolor lacus, suscipit adipiscing.</li>
                                                <li>Risus quisque cursus porttitor.</li>
                                            </ul>
                                        </div>
                                    </div><div class="column mcb-column mcb-item-965ef3a7c one column_button">
                                        <a class="button  button_size_2 button_theme button_js" href=index.html>
                                            <span class=button_label>READ MORE</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="section mcb-section mcb-section-255747a36" style="padding-top:120px;padding-bottom:80px;background-color:#00a34f;background-image:url(../wp-content/uploads/2019/11/itservice3-sectionbg1.png);background-repeat:no-repeat;background-position:right center">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-b99e400b3 one  valign-top clearfix" style="">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-c368f1d7c one-second column_column">
                                        <div class="column_attr clearfix" style="">
                                            <h6 style="color: #005927;">QUISQUE LOREM <i class=icon-down-circled style=color:#fff></i></h6>
                                            <h2 style="color: #fff;">Nulla imperdiet sit amet magna</h2>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-ac0e820ba one-second column_column">
                                        <div class="column_attr clearfix" style="padding:50px 0 0;">
                                            <p>Lorem ipsum dolorlaoreet, eget scelerisque nunc cuet.</p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-adcf61c5d one column_divider">
                                        <hr class=no_line style="margin:0 auto 30px">
                                    </div>
                                    <div class="column mcb-column mcb-item-5u3nh4s20 one-fourth column_counter dark">
                                        <div class="counter counter_vertical animate-math">
                                            <div class=icon_wrapper>

                                                <img src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-about-icon1.png" alt=itservice3-about-icon1 width=60 height=56>

                                            </div>
                                            <div class=desc_wrapper>
                                                <div class=number-wrapper>
                                                    <span class=number data-to=25>25</span>
                                                </div><p class="title">MAURIS NEC MALESUADA FAMES AC TURPIS VELIT</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="column mcb-column mcb-item-0u03pbs2r one-fourth column_counter dark">

                                        <div class="counter counter_vertical animate-math">
                                            <div class=icon_wrapper>
                                                <img src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-about-icon2.png" alt=itservice3-about-icon2 width=60 height=56>
                                            </div>

                                            <div class=desc_wrapper>
                                                <div class=number-wrapper>
                                                    <span class=number data-to=17>17</span>
                                                </div>
                                                <p class="title">NULLAM WISI ULTRICIES A, GRAVIDA VITAE</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-khytkgvph one-fourth column_counter dark">
                                        <div class="counter counter_vertical animate-math">

                                            <div class=icon_wrapper>


                                                <img src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-about-icon3.png" alt=itservice3-about-icon3 width=60 height=56>
                                            </div>
                                            <div class=desc_wrapper>
                                                <div class=number-wrapper>
                                                    <span class=number data-to=5234>5234</span>
                                                </div>
                                                <p class="title">ALIQUAM SEM. IN HENDRERIT NULLA QUAM</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-10nxp37ep one-fourth column_counter dark">
                                        <div class="counter counter_vertical animate-math">
                                            <div class=icon_wrapper>

                                                <img src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-about-icon4.png" alt=itservice3-about-icon4 width=48 height=56>

                                            </div>
                                            <div class=desc_wrapper>
                                                <div class=number-wrapper>
                                                    <span class=number data-to=26>26</span>
                                                </div>
                                                <p class="title">BLANDIT EU, TEMPOR DIAM PEDE CURSUS VITAE</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section mcb-section-1sl4x50dv" style=padding-top:120px;padding-bottom:80px>
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-7uvfh5mty one-second  valign-middle clearfix" style="padding:0 7% 0 0">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-12km9wn97 one column_column">
                                        <div class="column_attr clearfix" style="">
                                            <h2>Donec et nibh maximus, congue est mattis</h2>
                                            <hr class=no_line style="margin:0 auto 20px">
                                            <p>Mam id tellus commodo ma.</p>
                                            <p>Fuscetur orci egetrem.</p>

                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-p3k8lz4rm one column_button">
                                        <a class="button  button_size_2 button_theme button_js" href=../contact/index.html>
                                            <span class=button_label>CONTACT US</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-2ymd0ebbl one-second  valign-middle clearfix" style="">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-a72xt3hjo one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class=image_wrapper>
                                                <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-about-pic2.jpg" alt=itservice3-about-pic2 title=itservice3-about-pic2 width=780 height=1134>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="section the_content no_content">
                        <div class=section_wrapper>
                            <div class=the_content_wrapper>
                            </div>
                        </div>
                    </div>
                    <div class="section section-page-footer">
                        <div class="section_wrapper clearfix">
                            <div class="column one page-pager">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
