
@{
    ViewData["Title"] = "Contact";
}

<div id=Wrapper>
    <div id=Header_wrapper class="">
        <header id=Header>
            <div class=header_placeholder></div>
            <div id=Top_bar class=loading>
                <div class=container>
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            <div class=logo>
                                <a id=logo href=https://themes.muffingroup.com/be/itservice3 title="BeITService 3 - BeTheme" data-height=60 data-padding=30>
                                    <img class="logo-main scale-with-grid" src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3.png" data-retina=https://themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/retina-itservice3.png data-height=60 alt=itservice3 data-no-retina>
                                    <img class="logo-sticky scale-with-grid" src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3.png" data-retina=https://themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/retina-itservice3.png data-height=60 alt=itservice3 data-no-retina>
                                    <img class="logo-mobile scale-with-grid" src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3.png" data-retina=https://themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/retina-itservice3.png data-height=60 alt=itservice3 data-no-retina><img class="logo-mobile-sticky scale-with-grid" src=../wp-content/uploads/2019/11/itservice3.png data-retina=https://themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/retina-itservice3.png data-height=60 alt=itservice3 data-no-retina>
                                </a>
                            </div>
                            <div class=secondary_menu_wrapper>

                            </div>
                            <div class=banner_wrapper></div>
                            <div class=search_wrapper>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
        <div id=Subheader>
            <div class=container>
                <div class="column one"><h1 class="title">Feel free to contact us</h1></div>
            </div>
        </div>
    </div><div id=Content>
        <div class="content_wrapper clearfix">
            <div class=sections_group>
                <div class=entry-content itemprop=mainContentOfPage>
                    <div class="section mcb-section mcb-section-cd22eea49  no-margin-h no-margin-v" style=background-color:#f0f2fa>
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-95c3e6b72 one-third  valign-top move-up clearfix" style=margin-top:-50px data-mobile=no-up>
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-5bdccade5 one column_column">
                                        <div class="column_attr clearfix" style="background-color:#111111;padding:50px 15% 35px;border-radius: 20px 0 0 20px;">
                                            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-icon1.png" alt=itservice3-home-icon1 title=itservice3-home-icon1 width=48 height=60>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 30px"><h6>ADDRESS INFO</h6>
                                        </div>
                                    </div><div class="column mcb-column mcb-item-08d975a20 one column_column">
                                        <div class="column_attr clearfix" style="padding:30px 15% 50px;border-right: 1px solid #d8d9e1;">
                                            <div class="image_frame image_item no_link scale-with-grid no_border" style=margin-top:-55px;>
                                                <div class=image_wrapper>
                                                    <img class="scale-with-grid" src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-num1.png" alt=itservice3-home-num1 title=itservice3-home-num1 width=52 height=52>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 40px">
                                            <p>Level 13, 2 Elizabeth St,<br> Melbourne, Victoria 3000,<br> Australia</p>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wrap mcb-wrap mcb-wrap-4b71c8e03 one-third  valign-top move-up clearfix" style=margin-top:-50px data-mobile=no-up>
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-af05c6d34 one column_column">
                                        <div class="column_attr clearfix" style="background-color:#111111;padding:50px 15% 35px;">
                                            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-icon2.png" alt=itservice3-home-icon2 title=itservice3-home-icon2 width=64 height=60>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 30px"><h6>PHONE AND EMAIL</h6>
                                        </div>
                                    </div><div class="column mcb-column mcb-item-0d74f1a87 one column_column">
                                        <div class="column_attr clearfix" style="padding:30px 15% 50px;border-right: 1px solid #d8d9e1;">
                                            <div class="image_frame image_item no_link scale-with-grid no_border" style=margin-top:-55px;>
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-num2.png" alt=itservice3-home-num2 title=itservice3-home-num2 width=52 height=52>
                                                </div>
                                            </div>
                                            <hr class=no_line style="margin:0 auto 40px"><p> +61 (0) 383 766 284<br> <a href="https://themes.muffingroup.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="325c5d4057425e4b72575c4453465d1c515d5f">[email&#160;protected]</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wrap mcb-wrap mcb-wrap-136a2dddd one-third  valign-top move-up clearfix" style=margin-top:-50px data-mobile=no-up>
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-4f7daaa31 one column_column">
                                        <div class="column_attr clearfix" style="background-color:#111111;padding:50px 15% 35px;border-radius: 0 20px 20px 0;">
                                            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-icon3.png" alt=itservice3-home-icon4 title=itservice3-home-icon4 width=56 height=60>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 30px">
                                            <h6>OPENING HOURS</h6>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-dc8f0446f one column_column">
                                        <div class="column_attr clearfix" style="padding:30px 15% 50px;">
                                            <div class="image_frame image_item no_link scale-with-grid no_border" style=margin-top:-55px;>
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-num3.png" alt=itservice3-home-num4 title=itservice3-home-num4 width=52 height=52>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 40px"><p>Mon - Fri: 9 AM - 6 PM<br> Sat: 10 AM - 5 PM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="section mcb-section mcb-section-dkkq3k15e  full-width" style="">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-29kimxic0 one  valign-top clearfix" style="">
                                <div class=mcb-wrap-inner><div class="column mcb-column mcb-item-60exnrolm one column_map_basic"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.838357624531!2d144.9535780512548!3d-37.81725497965234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d95%3A0x3941d7db5d7a3a75!2sEnvato%20Pty%20Ltd.!5e0!3m2!1spl!2spl!4v1571393319616!5m2!1spl!2spl" width=100% height=500 frameborder=0 style=border:0 allowfullscreen></iframe></div></div>
                            </div>
                        </div>
                    </div><div class="section mcb-section mcb-section-66w97b4ej" style=padding-top:120px;padding-bottom:80px>
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-nutbfity4 one  valign-top clearfix" style="">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-x6gntbw2u one column_column">
                                        <div class="column_attr clearfix" style="">
                                            <h6>DO YOU HAVE ANY QUESTION? <i class=icon-down-circled style=color:#00a34f></i></h6>
                                            <h2>Leave a message</h2>
                                        </div>
                                    </div><div class="column mcb-column mcb-item-fw3t33jop one column_column">
                                        <div class="column_attr clearfix align_center" style="">
                                            <div role="form" class=wpcf7 id=wpcf7-f46-p12-o1 lang=en-US dir=ltr>
                                                <div class=screen-reader-response></div>
                                                <form action=https://themes.muffingroup.com/be/itservice3/contact/#wpcf7-f46-p12-o1 method=post class=wpcf7-form novalidate=novalidate><div style="display: none;"> <input type=hidden name=_wpcf7 value=46> <input type=hidden name=_wpcf7_version value=5.1.6> <input type=hidden name=_wpcf7_locale value=en_US> <input type=hidden name=_wpcf7_unit_tag value=wpcf7-f46-p12-o1> <input type=hidden name=_wpcf7_container_post value=12></div><div class="column one-second"><span class="wpcf7-form-control-wrap your-name"><input type=text name=your-name value size=40 class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required=true aria-invalid=false placeholder="Your name"></span></div><div class="column one-second"><span class="wpcf7-form-control-wrap your-email"><input type=email name=your-email value size=40 class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required=true aria-invalid=false placeholder="Your e-mail"></span></div><div class="column one"><span class="wpcf7-form-control-wrap your-subject"><input type=text name=your-subject value size=40 class="wpcf7-form-control wpcf7-text" aria-invalid=false placeholder=Subject></span></div><div class="column one"><span class="wpcf7-form-control-wrap your-message"><textarea name=your-message cols=40 rows=6 class="wpcf7-form-control wpcf7-textarea" aria-invalid=false placeholder=Message></textarea></span></div><div class="column one"><input type=submit value="Send a message" class="wpcf7-form-control wpcf7-submit"></div><div class="wpcf7-response-output wpcf7-display-none"></div></form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section the_content no_content">
                        <div class=section_wrapper>
                            <div class=the_content_wrapper></div>
                        </div>
                    </div><div class="section section-page-footer">
                        <div class="section_wrapper clearfix">
                            <div class="column one page-pager">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id=Side_slide class="right dark" data-width=250>
    <div class=close-wrapper>
        <a href=# class=close>
            <i class=icon-cancel-fine></i>
        </a>
    </div><div class=extras>
        <a href="https://1.envato.market/c/1289117/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Fbetheme-responsive-multipurpose-wordpress-theme%2F7758048%3Fref%3Dmuffingroup" class=action_button target=_blank>BUY NOW <i class=icon-right-open></i></a><div class=extras-wrapper></div>
    </div><div class=lang-wrapper></div>
    <div class=menu_wrapper></div><ul class=social>
        <li class=facebook>
            <a href=# title=Facebook>
                <i class=icon-facebook></i>
            </a>
        </li>
        <li class=twitter>
            <a href=# title=Twitter><i class=icon-twitter></i></a>
        </li>
    </ul>
</div>
<div id=body_overlay></div>


