
@{
    ViewData["Title"] = "Services";
}

<div id=Wrapper>
    <div id=Content>
        <div class="content_wrapper clearfix">
            <div class=sections_group>
                <div class=entry-content itemprop=mainContentOfPage>
                    <div class="section mcb-section mcb-section-ng3oc7vxs  equal-height-wrap" style=padding-top:120px>
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-fn8xefk7j one-second  valign-middle clearfix" style="">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-bmoanc8f2 one column_image">
                                        <div class="image_frame image_item scale-with-grid no_border">
                                            <div class=image_wrapper>
                                                <a href=#>
                                                    <div class=mask>
                                                    </div>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-services-pic1.jpg" alt=itservice3-services-pic1 title=itservice3-services-pic1 width=780 height=630>
                                                </a><div class="image_links">
                                                    <a href=# class=link>
                                                        <i class=icon-link>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-gnzvfrtrb one-second  valign-middle clearfix" style="padding:0 0 0 7%">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-xdilcbme4 one column_column">
                                        <div class="column_attr clearfix" style="">
                                            <h3>NULLAM WISI ULTRICIES A GRAVIDA VITAE</h3>
                                            <hr class=no_line style="margin:0 auto 5px">
                                            <p>Sed ultricilla vel purus sit amet.</p><ul class=list_check>
                                                <li>
                                                    Dolor lacus, suscipit adipiscing.
                                                </li>
                                                <li>Risus quisque cursus porttitor.</li>
                                            </ul>
                                            <hr class=no_line style="margin:0 auto 15px">
                                            <a class="button  button_size_2 button_theme button_js" href=#>
                                                <span class=button_label>READ MORE</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section mcb-section-b9ho5061c  equal-height-wrap" style=padding-top:80px>
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-f0zmius9u one-second  valign-middle clearfix" style="padding:0 7% 0 0"><div class=mcb-wrap-inner><div class="column mcb-column mcb-item-a0bt5yzph one column_column"><div class="column_attr clearfix" style><h3>CURSUS LECTUS EGET BIBENDUM GRAVIDA</h3><hr class=no_line style="margin:0 auto 5px"><p>Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis nibh magna. Proin risus erat, fringilla vel purus sit amet.</p><ul class=list_check><li>Dolor lacus, suscipit adipiscing.</li><li>Risus quisque cursus porttitor.</li></ul><hr class=no_line style="margin:0 auto 15px"><a class="button  button_size_2 button_theme button_js" href=#><span class=button_label>READ MORE</span></a></div></div></div></div><div class="wrap mcb-wrap mcb-wrap-jl0u6fn9d one-second  valign-middle clearfix" style>
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-h0q0yax6u one column_image">
                                        <div class="image_frame image_item scale-with-grid no_border">
                                            <div class=image_wrapper>
                                                <a href=#>
                                                    <div class=mask></div>

                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-services-pic2.jpg" alt=itservice3-services-pic2 title=itservice3-services-pic2 width=780 height=630>
                                                </a><div class="image_links ">
                                                    <a href=# class=link><i class=icon-link></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section mcb-section-70oduo38y  equal-height-wrap" style=padding-top:80px>
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-i516amwan one-second  valign-middle clearfix" style="">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-2nu0tmb86 one column_image">
                                        <div class="image_frame image_item scale-with-grid no_border">
                                            <div class=image_wrapper>
                                                <a href=#>
                                                    <div class=mask></div>

                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-services-pic3.jpg" alt=itservice3-services-pic3 title=itservice3-services-pic3 width=780 height=630>
                                                </a>
                                                <div class="image_links">
                                                    <a href=# class=link>
                                                        <i class=icon-link></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-ruvqxvivu one-second  valign-middle clearfix" style="padding:0 0 0 7%">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-b5dgowwy0 one column_column">
                                        <div class="column_attr clearfix" style="">
                                            <h3>MAURIS NEC FAMES AC TURPIS VELIT</h3>
                                            <hr class=no_line style="margin:0 auto 5px">
                                            <p>Sedl purus sit amet.</p>
                                            <ul class=list_check>
                                                <li>Dolor lacus, suscipit adipiscing.</li>
                                                <li>Risus quisque cursus porttitor.</li>
                                            </ul>
                                            <hr class=no_line style="margin:0 auto 15px">
                                            <a class="button  button_size_2 button_theme button_js" href=#>
                                                <span class=button_label>READ MORE</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section mcb-section-ay8xz3yri  equal-height-wrap" style=padding-top:80px;padding-bottom:210px>
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-d8f2mps55 one-second  valign-middle clearfix" style="padding:0 7% 0 0">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-r0wpxq5mz one column_column">
                                        <div class="column_attr clearfix" style="">
                                            <h3>TEMPOR DIAM PEDE CURSUS VITAE</h3>
                                            <hr class=no_line style="margin:0 auto 5px">
                                            <p>Sed ultngilla vel purus sit amet.</p><ul class=list_check>
                                                <li>Dolor lacus, suscipit adipiscing.</li>
                                                <li>Risus quisque cursus porttitor.</li>
                                            </ul>
                                            <hr class=no_line style="margin:0 auto 15px">
                                            <a class="button  button_size_2 button_theme button_js" href=#>
                                                <span class=button_label>READ MORE</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wrap mcb-wrap mcb-wrap-7qpkstoeg one-second  valign-middle clearfix" style="">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-60uzyx2z3 one column_image">
                                        <div class="image_frame image_item scale-with-grid no_border">
                                            <div class=image_wrapper>
                                                <a href=#>
                                                    <div class=mask></div>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-services-pic4.jpg" alt=itservice3-services-pic4 title=itservice3-services-pic4 width=780 height=630>
                                                </a><div class="image_links ">
                                                    <a href=# class=link>
                                                        <i class=icon-link>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section mcb-section-1c6cb1401  no-margin-h no-margin-v" style=padding-bottom:120px;background-color:#f0f2fa>
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-c1e1d9b93 one-fourth  valign-top move-up clearfix" style=margin-top:-130px data-mobile=no-up>
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-cd17fb61a one column_column">
                                        <div class="column_attr clearfix" style="background-color:#111111;padding:50px 15% 35px;border-radius: 20px 0 0 20px;">
                                            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">

                                                <div class=image_wrapper>

                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-icon1.png" alt=itservice3-home-icon1 title=itservice3-home-icon1 width=48 height=60>

                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 30px">
                                            <h6>STEP 1</h6><p style="color: #fff;">LOREM IPSUM DOLOR SIT AMET ENIM</p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-be4dbebc3 one column_column">
                                        <div class="column_attr clearfix" style="padding:30px 15% 50px;border-right: 1px solid #d8d9e1;">
                                            <div class="image_frame image_item no_link scale-with-grid no_border" style=margin-top:-55px;>
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-num1.png" alt=itservice3-home-num1 title=itservice3-home-num1 width=52 height=52>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 40px"><p>Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis magna.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-94518f6fd one-fourth  valign-top move-up clearfix" style=margin-top:-130px data-mobile=no-up>
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-66964337d one column_column">
                                        <div class="column_attr clearfix" style="background-color:#111111;padding:50px 15% 35px;">
                                            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-icon2.png" alt=itservice3-home-icon2 title=itservice3-home-icon2 width=64 height=60>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 30px"><h6>STEP 2</h6><p style="color: #fff;">QUISQUE LOREM TORTOR FRINGILLA</p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-415dc8838 one column_column">
                                        <div class="column_attr clearfix" style="padding:30px 15% 50px;border-right: 1px solid #d8d9e1;">
                                            <div class="image_frame image_item no_link scale-with-grid no_border" style=margin-top:-55px;>
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-num2.png" alt=itservice3-home-num2 title=itservice3-home-num2 width=52 height=52>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 40px"><p>Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis magna.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-f39462d54 one-fourth  valign-top move-up clearfix" style=margin-top:-130px data-mobile=no-up>
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-dbe30ea02 one column_column">
                                        <div class="column_attr clearfix" style="background-color:#111111;padding:50px 15% 35px;">
                                            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-icon3.png" alt=itservice3-home-icon3 title=itservice3-home-icon3 width=60 height=60>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 30px"><h6>STEP 3</h6><p style="color: #fff;">NULLA QUAM NUNC CONGUE LOREM</p>
                                        </div>
                                    </div><div class="column mcb-column mcb-item-ed80ff8d1 one column_column">
                                        <div class="column_attr clearfix" style="padding:30px 15% 50px;border-right: 1px solid #d8d9e1;">
                                            <div class="image_frame image_item no_link scale-with-grid no_border" style=margin-top:-55px;>
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-num3.png" alt=itservice3-home-num3 title=itservice3-home-num3 width=52 height=52>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 40px"><p>Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis magna.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-c88e42dd6 one-fourth  valign-top move-up clearfix" style=margin-top:-130px data-mobile=no-up>
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-26211171c one column_column">
                                        <div class="column_attr clearfix" style="background-color:#111111;padding:50px 15% 35px;border-radius: 0 20px 20px 0;">
                                            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-icon4.png" alt=itservice3-home-icon4 title=itservice3-home-icon4 width=56 height=60>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 30px"><h6>STEP 4</h6><p style="color: #fff;">TEMPOR DIAM PEDE CURSUS VITAE</p>
                                        </div>
                                    </div><div class="column mcb-column mcb-item-8f70c6b45 one column_column">
                                        <div class="column_attr clearfix" style="padding:30px 15% 50px;">
                                            <div class="image_frame image_item no_link scale-with-grid no_border" style=margin-top:-55px;>
                                                <div class=image_wrapper>
                                                    <img class=scale-with-grid src="~/BeItWebApp/themes.muffingroup.com/be/itservice3/wp-content/uploads/2019/11/itservice3-home-num4.png" alt=itservice3-home-num4 title=itservice3-home-num4 width=52 height=52>
                                                </div>
                                            </div><hr class=no_line style="margin:0 auto 40px"><p>Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis magna.</p>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wrap mcb-wrap mcb-wrap-nxky9crxw one  valign-top clearfix" style="">
                                <div class=mcb-wrap-inner>
                                    <div class="column mcb-column mcb-item-yl4jl0dxo one column_divider">
                                        <hr class=no_line style="margin:0 auto 40px">
                                    </div>
                                    <div class="column mcb-column mcb-item-b9jh2z147 one column_button">
                                        <div class="button_align align_center">
                                            <a class="button  button_size_2 button_theme button_js" href=../contact/index.html>
                                                <span class=button_label>CONTACT US</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section the_content no_content">
                        <div class=section_wrapper>
                            <div class=the_content_wrapper></div>
                        </div>
                    </div><div class="section section-page-footer">
                        <div class="section_wrapper clearfix">
                            <div class="column one page-pager">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><div id=Side_slide class="right dark" data-width=250>
    <div class=close-wrapper>
        <a href=# class=close>
            <i class=icon-cancel-fine></i>
        </a>
    </div>
    <div class=extras>
        <a href="https://1.envato.market/c/1289117/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Fbetheme-responsive-multipurpose-wordpress-theme%2F7758048%3Fref%3Dmuffingroup" class=action_button target=_blank>BUY NOW <i class=icon-right-open></i></a><div class=extras-wrapper></div>
    </div><div class=lang-wrapper></div><div class=menu_wrapper></div>
    <ul class=social>
        <li class=facebook>
            <a href=# title=Facebook><i class=icon-facebook></i></a>
        </li>
        <li class=twitter>
            <a href=# title=Twitter>
                <i class=icon-twitter></i>
            </a>
        </li>
    </ul>
</div><div id=body_overlay>
</div>


